.colorHeader {
    background: rgba(204, 193, 168, 1);
    background: -moz-linear-gradient(-45deg, rgba(204, 193, 168, 1) 1%, rgba(205, 194, 170, 1) 3%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(1%, rgba(204, 193, 168, 1)), color-stop(3%, rgba(205, 194, 170, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(204, 193, 168, 1) 1%, rgba(205, 194, 170, 1) 3%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(90deg, rgba(204, 193, 168, 1) 1%, rgba(205, 194, 170, 1) 3%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(90deg, rgba(204, 193, 168, 1) 1%, rgba(205, 194, 170, 1) 3%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(0deg, rgba(204, 193, 168, 1) 1%, rgba(205, 194, 170, 1) 3%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc1a8', endColorstr='#ffffff', GradientType=1);
}

.shadowHeader {
    -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.46);
    -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.46);
    box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.46);
}

.colorWrapper {
    background: rgba(204, 193, 168, 1);
    background: -moz-linear-gradient(-45deg, rgba(204, 193, 168, 1) 1%, rgba(205, 194, 170, 1) 3%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(1%, rgba(204, 193, 168, 1)), color-stop(3%, rgba(205, 194, 170, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(204, 193, 168, 1) 1%, rgba(205, 194, 170, 1) 3%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(204, 193, 168, 1) 1%, rgba(205, 194, 170, 1) 3%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(204, 193, 168, 1) 1%, rgba(205, 194, 170, 1) 3%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(0deg, rgba(204, 193, 168, 1) 1%, rgba(205, 194, 170, 1) 3%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc1a8', endColorstr='#ffffff', GradientType=1);
    color: #444;
}

.shadowBox {
    -webkit-box-shadow: 2px 2px 15px -1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 15px -1px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 15px -1px rgba(0, 0, 0, 1);
}

.colorA {
    background: -webkit-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(204, 194, 183, 1) 56%, rgba(204, 194, 183, 1) 100%);
    background: -o-linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(204, 194, 183, 1) 56%, rgba(204, 194, 183, 1) 100%);
    background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(204, 194, 183, 1) 56%, rgba(204, 194, 183, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ccc2b7', GradientType=0);
}

.colorB {
    background: rgba(204, 194, 182, 1);
    background: -moz-linear-gradient(top, rgba(204, 194, 182, 1) 0%, rgba(127, 113, 97, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204, 194, 182, 1)), color-stop(100%, rgba(127, 113, 97, 1)));
    background: -webkit-linear-gradient(top, rgba(204, 194, 182, 1) 0%, rgba(127, 113, 97, 1) 100%);
    background: -o-linear-gradient(top, rgba(204, 194, 182, 1) 0%, rgba(127, 113, 97, 1) 100%);
    background: -ms-linear-gradient(top, rgba(204, 194, 182, 1) 0%, rgba(127, 113, 97, 1) 100%);
    background: linear-gradient(to bottom, rgba(204, 194, 182, 1) 0%, rgba(127, 113, 97, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc2b6', endColorstr='#7f7161', GradientType=0);
}

.colorField {
    background: rgba(204, 194, 182, 1);
    background: -moz-linear-gradient(top, rgba(204, 194, 182, 1) 0%, rgba(127, 113, 97, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204, 194, 182, 1)), color-stop(100%, rgba(127, 113, 97, 1)));
    background: -webkit-linear-gradient(top, rgba(204, 194, 182, 1) 0%, rgba(127, 113, 97, 1) 100%);
    background: -o-linear-gradient(top, rgba(204, 194, 182, 1) 0%, rgba(127, 113, 97, 1) 100%);
    background: -ms-linear-gradient(top, rgba(204, 194, 182, 1) 0%, rgba(127, 113, 97, 1) 100%);
    background: linear-gradient(to bottom, rgba(204, 194, 182, 1) 0%, rgba(127, 113, 97, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc2b6', endColorstr='#7f7161', GradientType=0);
}

.success,
.work {
    background: rgba(166, 255, 54, 1);
    background: -moz-linear-gradient(top, rgba(166, 255, 54, 1) 0%, rgba(71, 242, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(166, 255, 54, 1)), color-stop(100%, rgba(71, 242, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(166, 255, 54, 1) 0%, rgba(71, 242, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(166, 255, 54, 1) 0%, rgba(71, 242, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(166, 255, 54, 1) 0%, rgba(71, 242, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(166, 255, 54, 1) 0%, rgba(71, 242, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ff36', endColorstr='#47f200', GradientType=0);
}

.danger,
reset {
    background: rgba(242, 108, 106, 1);
    background: -moz-linear-gradient(top, rgba(242, 108, 106, 1) 0%, rgba(255, 5, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242, 108, 106, 1)), color-stop(100%, rgba(255, 5, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(242, 108, 106, 1) 0%, rgba(255, 5, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(242, 108, 106, 1) 0%, rgba(255, 5, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(242, 108, 106, 1) 0%, rgba(255, 5, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(242, 108, 106, 1) 0%, rgba(255, 5, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26c6a', endColorstr='#ff0500', GradientType=0);
}

.prepare {
    background: rgba(242,236,140,1);
    background: -moz-linear-gradient(top, rgba(242,236,140,1) 0%, rgba(255,235,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,236,140,1)), color-stop(100%, rgba(255,235,0,1)));
    background: -webkit-linear-gradient(top, rgba(242,236,140,1) 0%, rgba(255,235,0,1) 100%);
    background: -o-linear-gradient(top, rgba(242,236,140,1) 0%, rgba(255,235,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(242,236,140,1) 0%, rgba(255,235,0,1) 100%);
    background: linear-gradient(to bottom, rgba(242,236,140,1) 0%, rgba(255,235,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ec8c', endColorstr='#ffeb00', GradientType=0 );
}